<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
<center><h1>Interior Design Products</h1></center>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <form action="/search" method="POST">
        <div style="display: flex; justify-content: space-between;">
        <input type="text" name="search" placeholder="Search by name" class="form-control">
        <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    <button type="button" class="btn btn-outline-primary"><a href="/create">Click to add new</a></button>
</nav>
<br>
<form action="/filter" method="post">
    <th>Product Filter</th>
    <br>
    <select name="filter">{filter}</select>
    <button>Submit</button>
</form>
<br>

<br>
<br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Remaining Product</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Category</th>
        <th scope="col" colspan="3"><span style="margin-left: 35%">Action</span></th>

    </tr>
    </thead>
    <tbody>
    {products}
    </tbody>
</table>
</body>
</html>