<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<style>
    .hung {
        display: flex;
    }
    .hung2{
        margin-left: 50px;
        margin-right: 50px;
    }
</style>
<body>
<div class="hung2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">KAGE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top: 20px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">create</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        sort
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/highprice">Price High To Low</a>
                        <a class="dropdown-item" href="/lowprice">Price Low to High</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/home">All Product</a>
                    </div>
                    <br>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bestseller">best saler</a>
                </li>

            </ul>
            <a href="/">
                <button class="btn btn-danger">log out</button>
            </a>
            <form class="form-inline my-2 my-lg-0" action="/search" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="hung">
        <div style="display: flex;flex-direction: row">
            <form action="/filter" method="post">
                <th>Product Filter</th>
                <br>
                <select name="filter">{filter}</select>
                <button class="btn btn-secondary">Submit</button>
            </form>
        </div>
        <div class="price" style="margin-left: 750px">
            <form action="/pricerange" method="post">
                <th>Price Range</th>
                <br>
                <input type="number" name="min" placeholder="Min" style="border-radius: 7px">
                <input type="number" name="max" placeholder="Max" style="border-radius: 7px">

                <button class="btn btn-secondary">Submit</button>
            </form>
        </div>

    </div>
    <br>
    <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th style="width: 10%">Price</th>
        <th style="width: 10%">Remaining Product</th>
        <th scope="col-2">Description</th>
        <th style="width: 50px;height: 50px">Image</th>
        <th style="width: 7%">Category</th>
        <th scope="col-2" colspan="2"><span style="margin-left: 20%">Action</span></th>
    </tr>
    </thead>
    <tbody>
    {products}
    </tbody>
    </table>
</div>
</body>
</html>
